<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <settings>
        <setting name="FGSMS.UTInstanceURL" value="https://sc91.utcollection"/>
        <setting name="FGSMS.UTChannelId" value="DC8E7268-BDBA-4545-A703-CCD0775A86BD"/>
        <setting name="FGSMS.UTEventDefinitionId" value="02F2F152-A1EE-448B-A4F9-1207ED12E3E5"/>
        <setting name="FGSMS.ContactIdentifierName" value="mobile"/>
        <setting name="FGSMS.APIUserAgent" value="Twilio-API"/>
        <setting name="FGSMS.CustomValueBodyKey" value="SMSBody"/>
    </settings>
    <pipelines>
        <initialize>
            <processor type="FlaminGalahs.Feature.FGSMS.RegisterAPIRoutes, FlaminGalahs.Feature.FGSMS" />
        </initialize>
    </pipelines>
  </sitecore>
</configuration>