<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	<exm>
		<typeResolver type="Sitecore.Modules.EmailCampaign.Core.TypeResolver, Sitecore.EmailCampaign" singleInstance="true">
		  <patch:attribute name="type">FlaminGalahs.Foundation.Mail.Extensions.TypeResolver, FlaminGalahs.Foundation.Mail</patch:attribute>
		</typeResolver>
	</exm>
    <pipelines>
        <SendEmail>
            <processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.SendEmail, Sitecore.EmailCampaign.Cm">
                <patch:attribute name="type">FlaminGalahs.Foundation.Mail.Pipelines.SMSDispatcher, FlaminGalahs.Foundation.Mail</patch:attribute>
            </processor>
        </SendEmail>
    </pipelines>
      <settings>
          <setting name="FlaminGalahs.Foundation.Mail.SmsMessageTemplateId" value="{EE205EB1-616C-40C2-BF0B-EA907E94F15F}" />
      </settings>
  </sitecore>
</configuration>